# Model Performance Transformations

Lets practice some basic data transformation for ML performance enhancement

In [9]:
# Imports
#%pip install duckdb
#%pip install sqlite
import pandas as pd
import numpy as np 
import sys
import re
sys.path.insert(0, "modules")

import numpy as np
import pandas as pd


import seaborn as sns

import pickle
import os

import numpy as np
import pandas as pd
from sklearn.preprocessing import RobustScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

from sklearn.metrics import accuracy_score
from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import GradientBoostingRegressor

In [10]:
diamonds = pd.read_csv('../data/diamonds_train_data/diamonds.csv')

In [11]:
from functions import cat_var,delete_features_corr, remove_outliers, remove_outliers_price, drop_zeros, remove_duplicates, imputation, label_encoder, onehot_encoder, stardard_scale_train, stardard_scale_test, inverse_scaler, feature_ing, robust_scale_train, robust_scaling_train, stardard_scaling_train

## Transformations

In [12]:
diamonds.drop(diamonds['city'])

KeyError: "['Kimberly' 'Zurich' 'Antwerp' ... 'Amsterdam' 'Paris' 'Surat'] not found in axis"

In [4]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40429 entries, 0 to 40428
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cut      40429 non-null  object
 1   color    40429 non-null  object
 2   clarity  40429 non-null  object
 3   price    40429 non-null  int64
 4   carat    40429 non-null  float64
 5   city     40429 non-null  object
 6   depth    40429 non-null  float64
 7   table    40429 non-null  float64
 8   x        40429 non-null  float64
 9   y        40429 non-null  float64
 10  z        40429 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 3.4+ MB

In [5]:
col_diamonds = list(diamonds.columns)
col_diamonds

['cut',
 'color',
 'clarity',
 'price',
 'carat',
 'city',
 'depth',
 'table',
 'x',
 'y',
 'z']

In [6]:
numerical_diamonds=[column for column in diamonds.columns if diamonds[column].dtype != 'object']
numerical_diamonds

['price', 'carat', 'depth', 'table', 'x', 'y', 'z']

In [7]:
categorics_diamonds = [column for column in diamonds.columns if diamonds[column].dtype == 'object']

categorics_diamonds

['cut', 'color', 'clarity', 'city']

In [8]:
cat_var(diamonds, categorics_diamonds, pd)

,categorical_variable,number_of_possible_values,values
0,city,13,"[Kimberly, Zurich, Antwerp, New York City, Tel..."
1,clarity,8,"[VS2, VS1, SI1, VVS1, SI2, VVS2, IF, I1]"
2,color,7,"[H, G, E, D, F, J, I]"
3,cut,5,"[Very Good, Ideal, Good, Premium, Fair]"

---

## Scaling

In [9]:
#diamonds=stardard_scaling_train(diamonds)

In [10]:
diamonds=robust_scaling_train(diamonds)

In [11]:
diamonds

,carat,depth,table,x,y,z,cut,color,clarity,city,price
0,-0.593750,0.800000,0.000000,-0.732240,-0.730769,-0.681416,Very Good,H,VS2,Kimberly,505
1,-0.625000,-0.066667,-0.333333,-0.765027,-0.758242,-0.761062,Very Good,G,VS1,Zurich,605
2,1.328125,0.933333,0.000000,0.907104,0.879121,0.991150,Very Good,H,SI1,Antwerp,7066
3,0.000000,0.200000,-0.333333,-0.021858,-0.016484,0.000000,Very Good,H,VS1,Kimberly,2422
4,0.156250,0.933333,-1.000000,0.131148,0.093407,0.185841,Very Good,H,SI1,Kimberly,2553
...,...,...,...,...,...,...,...,...,...,...,...
40424,0.500000,3.200000,0.333333,0.284153,0.236264,0.522124,Fair,F,SI2,Dubai,3633
40425,0.500000,2.466667,1.000000,0.327869,0.280220,0.513274,Fair,H,SI1,Madrid,4758
40426,0.468750,-1.866667,3.333333,0.431694,0.384615,0.247788,Fair,F,SI2,Amsterdam,4036
40427,1.250000,1.866667,1.000000,0.814208,0.763736,0.964602,Fair,F,SI1,Paris,11154
40428,0.312500,2.600000,0.333333,0.180328,0.142857,0.371681,Fair,G,VS1,Surat,3806

## Enconding

- [OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder)

- [LabelEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html#sklearn.preprocessing.LabelEncoder)

In [12]:
diamonds=onehot_encoder(diamonds)

In [13]:
#diamonds =label_encoder(diamonds)

In [14]:
diamonds

,carat,depth,table,x,y,z,price,cut_Good,cut_Ideal,cut_Premium,...,city_Kimberly,city_Las Vegas,city_London,city_Luxembourg,city_Madrid,city_New York City,city_Paris,city_Surat,city_Tel Aviv,city_Zurich
0,-0.593750,0.800000,0.000000,-0.732240,-0.730769,-0.681416,505,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,-0.625000,-0.066667,-0.333333,-0.765027,-0.758242,-0.761062,605,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,1.328125,0.933333,0.000000,0.907104,0.879121,0.991150,7066,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0.000000,0.200000,-0.333333,-0.021858,-0.016484,0.000000,2422,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,0.156250,0.933333,-1.000000,0.131148,0.093407,0.185841,2553,False,False,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40424,0.500000,3.200000,0.333333,0.284153,0.236264,0.522124,3633,False,False,False,...,False,False,False,False,False,False,False,False,False,False
40425,0.500000,2.466667,1.000000,0.327869,0.280220,0.513274,4758,False,False,False,...,False,False,False,False,True,False,False,False,False,False
40426,0.468750,-1.866667,3.333333,0.431694,0.384615,0.247788,4036,False,False,False,...,False,False,False,False,False,False,False,False,False,False
40427,1.250000,1.866667,1.000000,0.814208,0.763736,0.964602,11154,False,False,False,...,False,False,False,False,False,False,True,False,False,False
40428,0.312500,2.600000,0.333333,0.180328,0.142857,0.371681,3806,False,False,False,...,False,False,False,False,False,False,False,True,False,False

## Train-Test-Split

In [19]:
X = diamonds.drop('price', axis = 1)
y = diamonds['price']
print(X.shape,y.shape)

(40429, 35) (40429,)

In [20]:
# Train + test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f"X_train: {X_train.shape}, X_test: {X_test.shape}, y_train: {y_train.shape}, y_test: {y_test.shape}")
print(f"X_train: {type(X_train)}, X_test: {type(X_test)}, y_train: {type(y_train)}, y_test: {type(y_test)}")

X_train: (32343, 35), X_test: (8086, 35), y_train: (32343,), y_test: (8086,)
X_train: <class 'pandas.core.frame.DataFrame'>, X_test: <class 'pandas.core.frame.DataFrame'>, y_train: <class 'pandas.core.series.Series'>, y_test: <class 'pandas.core.series.Series'>

## MODELS

### RandomForestRegressor

In [88]:
model = RandomForestRegressor(random_state = 42)

In [89]:
param_grid = {'n_estimators': [100, 200, 300],  # Number of trees in the forest.
              'max_depth': [None, 3, 10],  # Maximum depth of the trees.
              'min_samples_split': [2, 10],  # Minimum number of samples required to split an internal node.
              'min_samples_leaf': [1, 4],  # Minimum number of samples required to be at a leaf node.
              'max_features': [None, 'sqrt', 'log2']  # Number of features to consider when looking for the best split.
              }

In [92]:
grid_search = GridSearchCV(model,
                           param_grid,
                           cv=5,
                           verbose=3,
                           scoring='neg_root_mean_squared_error',
                           n_jobs=-1)

In [93]:
grid_search.fit(X,y)

print('\n')
print('Best hyperparameters: ', grid_search.best_params_, '\n')
print('Best score: ', -grid_search.best_score_, '\n')

Fitting 5 folds for each of 108 candidates, totalling 540 fits


Best hyperparameters:  {'max_depth': None, 'max_features': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 300}

Best score:  665.3696035480398

### GradientBoostingRegressor

In [21]:
model = GradientBoostingRegressor(random_state = 42)

In [22]:
param_grid_GB = {'n_estimators': [100, 1000],  # Number of boosting stages to be run.
             'learning_rate': [0.01, 0.1],  # Rate at which the contribution of each tree is shrunk.
              'max_depth': [None, 3, 10],  # Maximum depth of the individual regression estimators.
              'min_samples_split': [2, 10],  # Minimum number of samples required to split an internal node.
              'min_samples_leaf': [1, 4],  # Minimum number of samples required to be at a leaf node.
              'max_features': [None, 'sqrt', 'log2']  # The number of features to consider when looking for the best split.
              }

In [23]:
grid_search = GridSearchCV(model,
                           param_grid_GB,
                           cv=5,
                           verbose=3,
                           scoring='neg_root_mean_squared_error',
                           n_jobs=-1)

In [24]:
grid_search.fit(X,y)

print('\n')
print('Best hyperparameters: ', grid_search.best_params_, '\n')
print('Best score: ', -grid_search.best_score_, '\n')

Fitting 5 folds for each of 144 candidates, totalling 720 fits


Best hyperparameters:  {'learning_rate': 0.1, 'max_depth': 10, 'max_features': None, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 100}

Best score:  599.3811757794821

### Linearmodel

In [82]:
#Linear model
my_linear_model = LinearRegression()
linear_param = my_linear_model.fit(X_train, y_train)
linear_pred = my_linear_model.predict(X_test)
rmse = mean_squared_error(y_test, linear_pred, squared=False)
print(f"Linear model RMSE is: {rmse}")

Linear model RMSE is: 1120.253100715281

In [ ]:

#filename = '../models/linearregression_001.sav'
pickle.dump(my_linear_model, open(filename, 'wb'))
print('Your model has been saved with  pickle!!!')